/* --- index.css --- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f4f6f9; /* Latar belakang abu-abu terang untuk dashboard */
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  width: 100vw;
  overflow-x: hidden; /* Mencegah munculnya scrollbar horizontal */
}

#root {
  width: 100%;
  min-height: 100vh;
  display: block; 
}